<%- include("includes/head.ejs"); %>
    <title>Welcome Page</title>

<body>
  
    <div id="home">
        <h3>Welcome to our page.</h3>
        <h2>Here you can <i> Make Notes.</i></h2>
        <form action="/notes">
        <button class="btn btn-outline-info mt-5" >Make your notes</button>
    </form>
    </div>
    
</body>
</html>