body{
    background-color: #0e323a !important;
    margin: 0px;
    padding: 0px;
}
.card{
    border:0.15rem solid red;
    /* box-shadow: 0px 2px 10px grey; */
    background-color: whitesmoke;
}


/* head.ejs file */
#home{
    height:100vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
}
#home h3{
    font-size: 5rem;
    background: -webkit-linear-gradient(#a4fc00, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#home h2{
    font-size:2rem;
    margin-top: 0px;
    color : #ffbb10; ; 
}
#home i{
    color:orangered;
}
@media only screen and (max-width: 1000px) {
    #home h3{
        font-size: 3rem;
    }   
}
@media only screen and (max-width: 500px){
    #home h2{
        font-size: 1rem;
    }
    #home h3{
        font-size: 1.5rem;
    }
    .btn{
        height: 2rem;
        width: 4rem;
        font-size: 0.85rem;
        padding-top: 0.45rem !important;
        
    }

    /* .form-control{
        height: 3.5rem;
        margin-bottom:1.5rem;
    } */
}


/* all notes file */
.allnotes{
    
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    align-items: center;
    /* position: relative; */

}
.allnotes h2{
    color: orange;
    text-align: center;
    margin-bottom: 2rem;
}
.newnotes{
    margin: 5rem 0rem 2rem 0rem;
    padding: 1rem;
    width: 40rem;
    background-color:#0e2b32;
    border-radius: 1rem;
    border: 5px soild blue;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    
}

.shownotes{
    padding: 1rem;
    width: 40rem;
    border-radius: 1rem;
    background-color:#0e2b32;
    display: flex;
    flex-direction: column;
   
}

/* search box */
.navbar{
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    margin-bottom: 2rem;

}
.search{
   /* width: 20rem; */
   display: flex;
   /* flex-wrap: nowrap; */
   flex-direction: row;
   align-items: center;
   justify-items: center;
}
.searchbtn{
    /* background-color: var(--bs-orangered); */
    background-color:darkorange;
    color: black;
    font-weight: bolder;
    font-size: 1rem !important;
}


@media  screen and (max-width: 700px){
   
    .allnotes{
        display: flex;
        flex-direction: column;
    
    }
    .newnotes{
        margin: 5rem 0rem 2rem 0rem;
        padding: 1rem;
        width: 35rem;
        /* display: flex; */
        /* flex-direction: column; */
        /* justify-content: center;
        align-items: center; */
        
    }
    .shownotes{
        padding: 1rem;
        width: 35rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
       
    }
    .UpdateCard h2{
        font-size: 3rem;
    }
}

@media  (max-width: 550px){
   
    .allnotes{
        width: 100%;
    
    }
    .newnotes{
        margin: 5rem 0rem 2rem 0rem;
        padding: 0.5rem;
        width: 22rem;
        display: flex;
        flex-wrap: nowrap;
        
    }
    .shownotes {
        padding: 0.5rem;
        width: 22rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        
       
    }
    .in{
        width: 100%;
      
    }
    .input{
        margin-bottom: 2rem !important;
    }
    .btn{
        font-size: 0.5rem;
    }
    .UpdateCard h2{
        font-size: 3rem !important;
    }
    .searchbtn{
        font-size: 0.75rem !important;
    }
   
    

}
.card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btns{
    display: flex;
    flex-direction: row;
}
.btn{
    margin-left: 1rem;
    font-size:  0.75rem;
}

.card-title {
    color: var(--bs-orange);
    font-weight: bolder;
  }

.in{
    width:17rem ;
    flex:1;
  }



  /* add new notes */
  .input{
   
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
  }

  .input-container {
    max-width: 100%;
}

.input {
    display: flex;
    gap: 10px;
}

.in {
    flex: 1;
}

@media (max-width: 550px) {
    .input {
        flex-direction: column;
    }
     
    .in {
        width: 100%;
    }

    
   
}
@media (max-width:350px){
   .shownotes{
          width: 17rem;
   }

   .newnotes{
         width: 17rem;
   }
   .btn{
     /* background-color: red; */
     width: 2rem;
     height:25px;
     font-size: 0.5rem;
   }
   .UpdateCard h2{
    font-size: 2rem !important;
   }
   .searchbtn{
    font-size: 0.5rem !important;
    margin: 0.25rem !important;
    width: 3rem !important;
    height: 2rem !important;
}
}

}

.form-control{
    background-color: whitesmoke;
}




/* update notes page */
.UpdateCard{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.UpdateCard h2{
    
    font-size: 5rem;
    background: -webkit-linear-gradient(#a4fc00, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.UpdateCard h3{
    color: yellow;
    margin-bottom: 2rem;
}
.UpdateCard h3  i {
    color: orangered;
}
.innerUpdate{
    background-color:#0e2b32;
    padding: 2rem;
    border-radius: 1rem;
    border: 0.05rem solid green;
    
}
#updatebtn{
    /* background-color: red; */
    width: 100% !important;
    margin-top: 1.5rem !important;
}